:root{
    --primaryColor: #ff5252;
    --confirmedColor: rgb(0, 255, 0);
    --grayColor: #adadad;
}

#root{
    background-color: #00000023;
    height: fit-content;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    max-width: 800px;
    height: 100vh;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.404);
}


.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.048);
    z-index: 50;
}
/* ---------------------------------------------- */
form{
    width: 85%;
    font-size: 1.3em;
    font-weight: bold;
}
.formStyle{
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: var(--primaryColor);
    height: 45px;
}
/* ---------------------------------------------- */

.fullScreenHeight{
    min-height: 100vh;
}
.sidebar{
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-right: 2px solid rgba(0, 0, 0, 0.144);
    transition: 0.5s;
    z-index: 100;
}

.sidebarHeader{
    margin-top: 25px;
    height: 10vh;
}



/* ---------- SIDEBAR OPTIONS ---------- */
.sidebar-optionsDiv{
    display: flex;
    flex-direction: column;
}
.sidebar input[type="radio"]{
    display: none;
}

.sidebar input[type="radio"]:checked + label{
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.082);
}
.sidebar label:hover{
    background-color: rgba(0, 0, 0, 0.082);
}
.sidebar label{
    text-align: center;
    background: none;
    margin-top: 5px;
    padding: 15px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    transition: 200ms;
}
/* ---------------------------------------------- */


/*--------- List ----------*/
.listContainer{
    width: 70%;
    padding: 0 15px;
    overflow: auto;
}
.list{
    height: 100vh;
    overflow: auto;
}

.card{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 17px;
    margin-top: 12px;
    border: none;
    border-left: 4px solid #ff5252;
    list-style-type: none;
    cursor: pointer;
    overflow: hidden;
    transition: 500ms;
}
.card:nth-child(even){
    background-color: rgba(143, 143, 143, 0.082);
}
.card:hover{
    height: 77px;
}
/*-------------------------*/


/* ----- TASK CHECKBOX ----- */
.card input[type="checkbox"]{
    width: 0px;
    height: 0px;
    cursor: pointer;
    outline: none;
}
/* before is the checkbox circle */
.card input[type="checkbox"]::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 3px solid black;
    cursor: pointer;
    transition: 300ms;
}
.card input[type="checkbox"]:checked:before{
    border-color: var(--confirmedColor);
}

/* after is the confirmed signal */
.card input[type="checkbox"]::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    width: 23px;
    height: 23px;
    border:4px solid;
    opacity: 0;
    transition: 300ms;
}
.card input[type="checkbox"]:checked::after{
    border-color: var(--confirmedColor);
    width: 13px;
    transform: rotate(45deg) translate(-6px, -15px);
    border-radius: 0%;
    border-left: none;
    border-top: none;
    opacity: 1;
}
/* -------------------- */



/* Paragraph */

.navbarMsg{
    color: gray;
}

/* ----- in list ----- */
.todoTitle{
    font-size: 2.5em;
    color: var(--grayColor);
}
.taskTitle{
    max-width: 100%;
    font-size: 1.4em;
    margin-left: 28px;
    transition: 500ms;
}
.taskDone p{
    text-decoration: line-through;
    color: var(--confirmedColor);
}
/* ------------------- */



/*---------- Buttons ----------*/
/* Only mobile buttons*/
.mobileBtn{
    display: none;
}
#hamburguerBtn{
    position: absolute;
    top: 11px;
    right: 35px;
    font-size: 2.5em;
    background: none;
    border: none;
}
#closeHamburguer{
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    font-size: 2.7em;
    cursor: pointer;
}
#closeHamburguer i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* Form Btn */
form> button{
    background-image: var(--primaryColor);
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
    transition: .4s;
}
form>button:hover{
    color: rgb(214, 214, 214);
}

/* trash btn */
.trashBtn{
    background: none;
}
.trashBtn:hover{
    color: red;
    transition: 450ms;
}
.trashBtn > i{
    font-size: 1.5em;
}



/* ------------- RESPONSIVE ----------- */
/* 4K */
@media screen and (min-width: 1800px) {
    .container{
        max-width: 900px;
        padding: 35px!important;
    }
    form{
        margin-bottom: 55px;
    }
    .formStyle, form input{
        height: 90px;
        font-size: 2.5em;
    }
    .todoTitle{
        font-size: 5em;
    }

    .card{
        margin-bottom: 23px;
        height: 170px;
        border-left: 8px solid #ff5252;
    }
    .card:hover{
        height: 190px;
    }

    
    /* ----- CHECKBOX ----- */
    .card input[type="checkbox"]{
        margin-right: 30px;
    }
    /* before is the checkbox circle */
    .card input[type="checkbox"]::before{
        top: 50%;
        transform: translateY(-50%);
        left: 8px;
        width: 54px;
        height: 54px;
        border: 6px solid black;
    }
    
    /* after is the confirmed signal */
    .card input[type="checkbox"]::after{
        top: 50%;
        transform: translateY(-50%);
        left: 8px;
        width: 56px;
        height: 56px;
        border: 10px solid;
  
    }
    .card input[type="checkbox"]:checked::after{
        width: 26px;
        transform: rotate(45deg) translate(-10px, -40px) ;
    }
    /* ------------------------ */


    .taskTitle{
        font-size: 4em;
    }
    .trashBtn i{
        font-size: 4em;
    }
    
}


/* Mobile device */
@media screen and (max-width: 450px) {
    .container{
        border-radius: 0%;
    }
    .mobileBtn{
        display: flex!important;
    }

    /* ------------ hamburguer ----------- */
    .overlayActive{
        display: block;
    }

    .sidebar{
        position: absolute;
        top: 0;
        left: -100%;
        width: 50%;
    }
    .showSidebar{
        top: 0%;
        left: -0%;
    }

    .sidebarHeader{
        margin-top: 25px;
    }
    .sidebarHeader h1{
        color: var(--primaryColor);
    }
    /* ---------------------------------- */



    .listContainer{
        width: 100%;
        padding: 15px;
    }
    

    .taskTitle{
        font-size: 1.3em;
    }
}
@media screen and (max-width: 380px) {
    
    .sidebar{
        width: 70%;
    }

    .listContainer{
        padding: 8px;
    }
}