:root{
    --primaryColor: #ff5252;
    --primaryLinearGradient: linear-gradient(to bottom, #ff5252, #bd4040);
    --confirmedColor: #00ff00;
    --grayColor: #adadad;
    --mainDivWidth: 70%;
    --listHeaderSize: 20vh;


    --background1: #ffffff;
    --background2: #ffffff;
    --color1: black;
    --color2: black;
    --borderCard: #f7f5f5;

    --importantTaskBackground:#ffd4e5;
    --importantTaskCompletedBackground:#d5ffe5;

    --sidebarSelectedBtn: #00000015;
   
}

#root{
    background-image: linear-gradient(to bottom right, #a0a0a0, #c4c4c4);
    height: fit-content;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    max-width: 800px;
    height: 100vh;
    background-color: var(--background1);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.404);
}


.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.226);
    z-index: 50;
}
.alert{
    position: absolute;
    top: -35%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    font-size: 1.3em;
    z-index: 1000;
}
@keyframes showAlert{
    0%{
        top: -35%;
    }
    20%{
        top: 35px;
    }
    80%{
        top: 35px;
    }
    100%{
        top: -35%;
    }

}
/* ---------------------------------------------- */
.secondaryDiv{
    position: absolute;
    top: 100%;
    right: 0;
    min-height: 100vh;
    padding: 25px 10px;
    width: var(--mainDivWidth);
    background-color: var(--background2);
    z-index: 100;
    transition: 0.8s;
}

.showSecondaryDiv{
    top: 0%;
}


form{
    width: 85%;
    font-size: 1.3em;
    font-weight: bold;
    padding: 20px;
}
form input[type="text"]{

    font-size: 1.2em;
    padding: 5px;
    color: var(--color1);
    border-radius: 20px;
    border: none;
    background-color: rgba(128, 128, 128, 0.418);
}
.priorityOptionsDiv{
    position: relative;
    width: 235px;
    height: 30px;
    font-size: 0.9em;
}
input[name="priority"]{
    display: none;
}
input[name="priority"]+label{
    border: 3px solid var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2px 5px;
    text-align: center;
    font-weight: normal;
    transition: .2s;
}
#opcLow+label{
    background-color: #2abb2a;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#opcModerate+label{
    background-color: yellow;
    border-left: none;
    border-right: none;
}
#opcHigh+label{
    background-color: #e42222;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

input[name="priority"]:checked+label{
    font-weight: bold;
}
.priorityArrow{
    position: absolute;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%) rotate(46deg);
    width: 15px;
    height: 15px;
    border: 3px solid black;
    border-right: none;
    border-bottom: none;
    transition: .4s;
}
.lowSelected{
    left: 16.5%!important;
}
.highSelected{
    left: 84.5%!important;
}







/* #opcLow:checked+div.priorityArrow{
    left: 16%;
}
#opcModerate:checked+div.priorityArrow{
    left: 50%;
}
#opcHigh:checked+div.priorityArrow{
    left: 83%;
} */


/* ---------------------------------------------- */

.fullScreenHeight{
    min-height: 100vh;
}
.sidebar{
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: var(--background2);
    color: var(--color1);
    border-right: 2px solid rgba(0, 0, 0, 0.144);
    transition: 0.5s;
    z-index: 100;
}

.sidebarHeader{
    margin-top: 25px;
    margin-bottom: 10px;
    height: 10vh;
}



/* ---------- SIDEBAR OPTIONS ---------- */
.sidebar-optionsDiv{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}
.sidebar input[type="radio"]{
    display: none;
}

.sidebar input[type="radio"]:checked + label{
    font-weight: bold;
    background-color: var(--sidebarSelectedBtn);
}
.sidebar label:hover{
    background-color: var(--sidebarSelectedBtn);
}
.sidebar label{
    text-align: center;
    background: none;
    margin-top: 5px;
    padding: 15px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    transition: 200ms;
}
/* ---------------------------------------------- */


/*--------- List ----------*/
.listContainer{
    width: var(--mainDivWidth);
    background-color: var(--background1);
    overflow: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.listHeader{
    position: relative;
    background-image: var(--primaryLinearGradient);
    height: var(--listHeaderSize);
    margin-bottom: 80px;
    color: white;
    text-align: center;
    overflow: visible;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 1px 2px 3px 1px;
}
.habitsList{
    display: none;
}
.list{
    display: flex;
}
.listPanel{
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 100px;
    border: 1px solid rgba(255, 255, 255, 0.075);
    background-color: var(--background2);
    color: var(--color1);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#dropdownMenuButton2{
    background-color: #adadad;
    color: #000000;
}
.emptyListMsg{
    display: none;
}
.emptyListMsg img{
    display: block;
    margin: 50px auto;
    width: 250px;
}


.card{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 17px;
    margin-top: 12px;
    background-color: var(--background2);
    color: var(--color1);
    border: 2px solid var(--borderCard);
    border-left: 4px solid var(--primaryColor);
    list-style-type: none;
    cursor: pointer;
    overflow: hidden;
    transition: 500ms;
}
.card:hover{
    border: 2px solid rgb(151, 151, 151);
    border-left: 4px solid var(--primaryColor);
}
.importantTask{
    background-color: var(--importantTaskBackground)!important;
}
.importantTask.taskDone{
    background-color: var(--importantTaskCompletedBackground)!important;
}
/*-------------------------*/


/* ----- CHECKBOXES ----- */
.customCheckbox{
    width: 0;
    height: 0;
}
.customCheckbox::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 0px;
    width: 60px;
    height: 25px;
    border-radius: 25px;
    background-color: var(--grayColor);
    transition: .5s;
}
.customCheckbox:checked:before{
    background-color: var(--confirmedColor);
}
.customCheckbox::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 4px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.288);
    transition: .5s;
}
.customCheckbox:checked::after{
    left: 37px;
}
/* ------------ */

/* ----- checked task ----- */
.card input[type="checkbox"]{
    width: 0px;
    height: 0px;
    cursor: pointer;
    outline: none;
}
/* before is the checkbox circle */
.card input[type="checkbox"]::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 3px solid black;
    cursor: pointer;
    transition: 300ms;
}
.card input[type="checkbox"]:checked:before{
    border-color: var(--confirmedColor);
}
/* after is the confirmed signal */
.card input[type="checkbox"]::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    width: 23px;
    height: 23px;
    border:4px solid;
    opacity: 0;
    transition: 300ms;
}
.card input[type="checkbox"]:checked::after{
    border-color: var(--confirmedColor);
    width: 13px;
    transform: rotate(45deg) translate(-6px, -15px);
    border-radius: 0%;
    border-left: none;
    border-top: none;
    opacity: 1;
}
/* important task: */
.importantTask input[type="checkbox"]:checked:before, .importantTask input[type="checkbox"]:checked:after{
    border-color: black;
}
/* -------------------- */



/* Paragraph */

.sidebarMsg{
    color: gray;
}
.secondaryDiv h1{
    font-size: 3em;
    color: var(--primaryColor);
    text-align: center;
}
.secondaryDiv h3{
    color: var(--color1);
}

.about h4{
    color: var(--grayColor);
}
.about a{
    font-size: 1.2em;
}

.quick-description{
    color: var(--grayColor);
}



/* ----- in list ----- */
.listHeader h1{

    font-size: 2.4em;
}
.panelItem{
    font-size: 1.2em;
    color: gray;
}
.panelItemNumber{
    color: var(--color1);
    font-weight: bold;
    font-size: 2em;
}

.emptyListMsg p{
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    color: var(--grayColor);
}

.todoTitle{
    font-size: 2.5em;
    color: var(--grayColor);
}
.taskTitle{
    max-width: 100%;
    font-size: 1.4em;
    margin-left: 28px;
    transition: 500ms;
}
.taskDone p{
    text-decoration: line-through;
    color: var(--confirmedColor);
}
.importantTask p{
    color: var(--color1);
    font-weight: bold;
}
/* ------------------- */



/*---------- Buttons ----------*/
/* Only mobile buttons*/
.mobileBtn{
    display: none!important;
    color: var(--color1);
}
.floatBtn{
    position: absolute;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 20;
}
.top-nav{
    top: 0;
    height: 0;
    background-image: none;
    transition: 1.2s;
    cursor: default;
}
.top-nav-scrolled{
    display: flex;
    align-items: center;
    height: 8%;
    background-image: var(--primaryLinearGradient);
    border-bottom: 2px solid gray;
    opacity: 1;
}
.top-nav-scrolled > button{
    top: 50%!important;
    transform: translateY(-50%);
}
#hamburguerBtn{
    top: 5px;
    left: 10px;
    font-size: 2.5em;
    color: white;
    transition: .5s;
}
#closeHamburguer{
    display: none;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    font-size: 2.4em;
}
#closeHamburguer:hover{
    color: var(--primaryColor);
}
#closeHamburguer i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#closeNewItemField, #closeAboutBtn, #closeSettingsBtn{
    top: 0px;
    right: 15px;
    font-size: 2.5em;
}



/* Form Btn */
form> button{
    position: relative;
    width: 65%;
    height: 50px;
    margin-top: 40px;
    font-size: 1em;
    background-color: var(--primaryColor);
    color: white;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.356);
    transition: .5s;
}
form>button:hover{
    color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    background: none;
}

/* trash btn */
.trashBtn{
    color: var(--color2);
    background: none;
}
.trashBtn:hover{
    color: red;
    transition: 450ms;
}
.importantTask.taskDone .trashBtn{
    color: black;
}
.trashBtn > i{
    font-size: 1.5em;
}

/* Settings buttons */
.languageOption{
    padding: 9px;
    border-radius: 30px;
    color: white;
    background-color: var(--primaryColor);
    transition: 0.3s;
}

/* ------------- RESPONSIVE ----------- */
/* 4K */
@media screen and (min-width: 1800px) {
    .container{
        max-width: 1700px;
    }

    /* SIDEBAR --------------------------- */
    .sidebar{
        padding: 20px;
    }
    .sidebarHeader{
        margin-top: 50px;
    }
    .sidebarHeader h1{
        font-size: 5.4em;
    }
    .sidebarMsg{
        font-size: 2.6em;
    }
    .sidebar-optionsDiv{
        margin-top: 50px;
    }
    .sidebar label{
        font-size: 3em;
    }
    /* ------------------------------------- */

    /* NEW ITEM FIELD-------------------------------- */
    form{
        margin-bottom: 55px;
    }
    .inputDescription{
        font-size: 3em;
    }
    form input[type="text"]{
        height: 90px;
        font-size: 3em;
    }
    form button{
        font-size: 2em;
        height: 90px;
        width: 700px;
    }
    /* ------------------------------------- */

    /* LIST CONTAINER -------------------------------- */
    .todoTitle{
        font-size: 5em;
    }

    .listHeader h1{
        font-size: 6.5em;
        margin-top: 40px;
    }
    .listHeader{
        height: 24vh;
    }
    

    /* list Panel */
    .listPanel{
        height: fit-content;
    }
    .panelItem{
        font-size: 2.1em;
        font-weight: bold;
        color: gray;
    }
    .panelItemNumber{
        color: var(--color1);
        font-weight: bold;
        font-size: 2.5em;
    }


    .emptyListMsg img{
        margin: 80px auto;
        width: 700px;
    }
    .emptyListMsg p{
        margin-top: 70px;
        font-size: 3em;
    }

    .card{
        margin-bottom: 23px;
        height: 170px;
        border-left: 10px solid var(--primaryColor);
    }
    .card:hover{
        height: 190px;
        border-left: 10px solid var(--primaryColor);
    }

    .taskTitle{
        font-size: 4em;
    }
    .trashBtn i{
        font-size: 4em;
    }

     /* ----- CHECKBOX ----- */
    .customCheckbox::before{
        top: 50%;
        transform: translatey(-50%);
        left: 25px;
        width: 150px;
        height: 55px;
    }
    .customCheckbox::after{
        top: 50%;
        transform: translatey(-51%);
        left: 34px;
        width: 40px;
        height: 40px;
    }
    .customCheckbox:checked::after{
        left: 123px;
    }


    .card input[type="checkbox"]{
        margin-right: 30px;
    }
    /* before is the checkbox circle */
    .card input[type="checkbox"]::before{
        top: 50%;
        transform: translateY(-50%);
        left: 8px;
        width: 54px;
        height: 54px;
        border: 6px solid black;
    }
    
    /* after is the confirmed signal */
    .card input[type="checkbox"]::after{
        top: 50%;
        transform: translateY(-50%);
        left: 8px;
        width: 56px;
        height: 56px;
        border: 10px solid;
  
    }
    .card input[type="checkbox"]:checked::after{
        width: 26px;
        transform: rotate(45deg) translate(-10px, -40px) ;
    }
    /* ------------------------------------- */



    .secondaryDiv{
        padding: 50px;
    }
    .secondaryDiv h1{
        margin-bottom: 20px;
        font-size: 5em;
    }

    .secondaryDiv h3, .secondaryDiv h4, .secondaryDiv a{
        font-size: 3em;
    }

    .quick-description{
        font-size: 2.5em;
    }
    
}



/* Mobile device */
/* tablet */
@media screen and (max-width: 1000px){
    .container{
        border-radius: 0%;
    }
}
/*mobile L */
@media screen and (max-width: 510px) {
    .mobileBtn{
        display: flex!important;
    }
    .alert{
        width: 370px;
    }

    /* ------------ hamburguer ----------- */
    .overlayActive{
        display: block;
    }

    .sidebar{
        position: absolute;
        top: 0;
        left: -100%;
        width: 50%;
    }
    .showSidebar{
        top: 0%;
        left: -0%;
    }

    .sidebarHeader{
        margin-top: 25px;
    }
    .sidebarHeader h1{
        color: var(--primaryColor);
    }
    /* ---------------------------------- */



    .listContainer{
        width: 100%;
    }
    .secondaryDiv{
        width: 100%;
        padding-top: 30px;
    }
    form >button{
        width: 120%;
    }
    

    .taskTitle{
        font-size: 1.3em;
    }
}
/* mobile M */
@media screen and (max-width: 380px) {
    .alert{
        width: 320px;
    }
    #hamburguerBtn{
        right: 25px;
    }

    .sidebar{
        width: 70%;
    }

    .sectionTitle{
        font-size: 2.2em!important;
    }

}
/* mobile S */
@media screen and (max-width: 340px) {
    .alert{
        width: 280px;
    }

    #hamburguerBtn{
        right: 15px;
    }
}